@import 'tailwindcss';
@import 'uniwind';

@theme {
  --font-sans: 'SNPro_400Regular';
  --font-medium: 'SNPro_500Medium';
  --font-semibold: 'SNPro_600SemiBold';
  --font-bold: 'SNPro_700Bold';
  --font-extrabold: 'SNPro_800ExtraBold';
}
